<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.total.thecodeplace.totalapp" >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Splash screen -->

        <activity
            android:name="com.total.thecodeplace.totalapp.splashscreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:noHistory="true" >


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Main activity -->
        <activity
            android:name="com.total.thecodeplace.totalapp.MainActivity"

            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".AnamolyActivity"
            android:label="@string/title_activity_anamoly" >
        </activity>
        <activity
            android:name=".InitiativeActivity"
            android:label="@string/title_activity_initiative" >
        </activity>

    </application>

</manifest>
